<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mahesh.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @mahesh.age %>
</p>

<%= link_to 'Edit', edit_mahesh_path(@mahesh) %> |
<%= link_to 'Back', maheshes_path %>
